@import "../../../common/Styles.css";

#team-header-1 {
  background-color: var(--orange);
}

#team-header-2 {
  background-color: var(--blue);
}

.team-header {
  margin: 0;
  border-radius: 4px 4px 0 0;
  font-size: 2vw;
}

@media (max-width: 950px) {
  .team-header {
    font-size: 20px;
  }
}

.teams {
  display: flex;
  flex: 1 1 0;
}

.team {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  color: var(--white);
  min-height: 300px;
  border-radius: 5px 5px 0 0;
}

.team:first-of-type {
  margin-right: 20px;
}

#team-1 {
  border: 1px solid var(--orange);
}

#team-2 {
  border: 1px solid var(--blue);
}

.team-members {
  padding-inline-start: 0;
}

.team-member {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
  color: black;
}

.team-member.is-me {
  color: var(--green);
}
