.name-label {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.name-field {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

.button {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 40vw;
  font-size: 400%;
  height: 40vh;
  max-height: 175px;
  max-width: 300px;
  margin: 0 4vw;
  min-width: 200px;
}
.start {
  background-color: #97d320;
}

.button:hover :not(disabled) {
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
}
