@import "../Styles.css";

.button {
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2vw;
  height: 150px;
  width: 250px;
  cursor: pointer;
  border: none;
}

.small {
  height: 50px;
  width: 140px;
}

.button:hover :not(disabled) {
  cursor: pointer;
}

.button:disabled {
  background-color: var(--stone);
}

@media (max-width: 1000px) {
  .small {
    font-size: 1.5em;
  }
  .button {
    font-size: 30px;
  }
}

.gold {
  background-color: var(--gold);
}
.green {
  background-color: var(--green);
}
.coral {
  background-color: var(--coral);
}
.violet {
  background-color: var(--violet);
}
.blue {
  background-color: var(--blue);
}
.stone {
  background-color: var(--stone);
}
.white {
  background-color: var(--white);
}
