.button {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 40vw;
  font-size: 300%;
  height: 40vh;
  max-height: 175px;
  max-width: 300px;
  margin: 0 4vw;
  min-width: 200px;
  background-color: #97d320;
}

.abort {
  background-color: #ff4a00;
}

.button:hover :not(disabled) {
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
}
