@import "../common/Styles.css";

.vertical-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px;
}

.horizontal-section {
  display: flex;
  flex-direction: row;
  margin: 30px 10px;
  justify-content: space-around;
}

.player-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.4vw;
}

.player-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5vw;
}

.phrase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 6vw;
}

.next {
  background-color: var(--teal);
}

.skip {
  background-color: var(--stone);
}
