@import "../common/Styles.css";

.vertical-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-buttons {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.player-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.4vw;
}

.player-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5vw;
}

.phrase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 6vw;
}
