.current-players {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
}

.name-label {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.name-field {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
