.invite-link {
  display: flex;
  width: 50%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px auto;
}

.current-players {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name-label {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.name-label.validation-failed {
  color: red;
}

.name-field {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.teams {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.team {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
}

.team-members {
  padding-inline-start: 0;
}

.team-member {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
}
