:root {
  --coral: rgba(254, 74, 73, 1);
  --gold: rgba(252, 207, 70, 1);
  --stone: rgba(197, 197, 201, 1);
  --green: rgba(3, 206, 164, 1);
  --violet: rgba(86, 86, 201, 1);
  --blue: rgba(76, 187, 232, 1);
  --white: rgba(244, 244, 248, 1);
}
